body{
    display: flex;
    align-items: center;
}

nav{
    display: inline;
    width: 60%;
    height : auto;
    z-index: 1;
}

.logo-container{
    margin-left: 160px;
    width: 30%;
    display: flex;
    align-items: center;
}


nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
}


/* I need to find the font of the nav text */
nav li, .nav-links{
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 15px;
    font-weight:500;
    font-family: sans-serif;
}

nav ul li:nth-child(n+2) a{
    transition: color 0.1s ease;
}

.circled{
    border: 1px rgba(0, 0, 0, 0.226) solid;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out ;
}

.circled span{
    font-size: 16px;
    margin: 15px; 
}

nav ul li:nth-child(n+2) a:hover{
    color: rgb(0, 81, 255);
}
.circled:hover{
    background-color: rgba(148, 217, 234, 0.208);
}