html{
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

header{
    background-color: white;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

nav{
    display: inline;
    width: 60%;
    height : auto;
    z-index: 1;
}

.logo-container{
    margin-left: 160px;
    width: 30%;
    display: flex;
    align-items: center;
}


nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
}


/* I need to find the font of the nav text */
nav li, .nav-links{
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 15px;
    font-weight:500;
    font-family: sans-serif;
}

nav ul li:nth-child(n+2) a{
    transition: color 0.1s ease;
}

.circled{
    border: 1px rgba(0, 0, 0, 0.226) solid;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out ;
}

.circled span{
    font-size: 16px;
    margin: 15px; 
}

nav ul li:nth-child(n+2) a:hover{
    color: rgb(0, 81, 255);
}
.circled:hover{
    background-color: rgba(148, 217, 234, 0.208);
}



.hero{
    position: relative;
    z-index: -1;
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(16, 16, 16, 0.307)), url("./assets/VRBO_APFT2_BARCELONA_THERIN_HOUSE_2_4605_1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -70px;
    display: flex;
    align-items: center;
    
}

.hero-container{
    width: 80%;
    margin: auto;
    border: 2px solid black;
}

.hero-container h1{
    color: white;
    font-size: 40px;
    font-weight: 500;
    font-family: sans-serif;
}